:root
{
    /* Catppuchin Colors */
  --rosewater: 10 58% 90%;
  --flamingo:  0 58% 86%;
  --pink:      316 74% 85%;
  --mauve:     267 83% 80%;
  --red:       351 74% 63%;
  --maroon:    355 71% 77%;
  --peach:     21 86% 73%;
  --yellow:    40 70% 78%;
  --green:     105 48% 72%;
  --teal:      171 47% 69%;
  --sky:       189 59% 73%;
  --sapphire:  199 66% 69%;
  --blue:      220 83% 75%;
  --lavender:  234 82% 85%;
}