@import url(https://seele1306.github.io/Modular/main.css);

/* --- CUSTOMIZABLE --- */
:root, .theme-dark, .theme-light {
	/* Change to none to use solid color theme, or use one of the premade Nitro gradients, or make your own gradient or even add a background (must be an URL) */
	--modular-background: var(--midnight-blurple) !important;
  /* Available gradients: aurora, forest, hanami, lofi, mint-apple, mars, neon-nights, retro-raincloud, strawberry-lemonade, sepia,
   * midnight-blurple, chroma-glow, citrus-sherbert, cotton-candy, crimson-moon, desert-khaki, dusk, retro-storm, sunrise, sunset, under-the-sea */

	/* Overall accent */
	--modular-hue: 240;
	--modular-saturation: 40%;
	--modular-luminosity: 20%;

  /* Shadow */
	--modular-shadow-distance: 5px;
	--modular-stroke-distance: 1px;

	/* Border radius */
	--modular-border-radius: 8px;
	--modular-client-spacing: 8px;
	--modular-client-radius: 4px;

	/* Font change */
	--font-main: "" ;
	--font-code: Iosevka, monospace, Consolas;

	/* Quotes */
	--quote-vertical-spacing: 4px;
	--quote-horizontal-spacing: 10px;
	--quote-background-color: #a6da9525;
	--quote-text-color: #a6da95;
	--quote-border-radius: 6px;

	/* Menu UI Blur */
	--modular-background-blur-strength: 10px;
	--sidebar-orientation: column; /* column-reverse for user panel on top */
}
