@import url(https://seele1306.github.io/Modular/main.css);

/* --- CUSTOMIZABLE --- */
:root, .theme-dark, .theme-light {
	/* Change to none to use solid color theme, or use one of the premade Nitro gradients, or make your own gradient or even add a background (must be an URL) */
	--modular-background: var(--midnight-blurple) !important;
  /* Available gradients: aurora, forest, hanami, lofi, mint-apple, mars, neon-nights, retro-raincloud, strawberry-lemonade, sepia,
   * midnight-blurple, chroma-glow, citrus-sherbert, cotton-candy, crimson-moon, desert-khaki, dusk, retro-storm, sunrise, sunset, under-the-sea */

	/* Overall accent */
	--modular-hue: 240;
	--modular-saturation: calc(var(--saturation-factor, 1)* 79%); /* Change the percentage to something else */
	--modular-luminosity: 20%; /* Best between 0-30% for visibility */

  /* Shadow */
	--modular-shadow-distance: 8px;
	--modular-stroke-distance: 1px;

	/* Border radius */
	--modular-border-radius: 8px; /* Default is 8px */
	--modular-client-spacing: 8px; /* Default is 12px */
	--modular-client-radius: 4px; /* Default is 4px */

	/* Font change */
	--font-main: "" ;
	--font-code: Iosevka, monospace, Consolas;

	/* Quotes */
	--quote-vertical-spacing: 4px;
	--quote-horizontal-spacing: 10px;
	--quote-background-color: #a6da9525;
	--quote-text-color: #a6da95;
	--quote-border-radius: 6px;

	/* Menu UI */
	--modular-background-blur-strength: 10px; /* in px, Default is 10px */
	--modular-background-brightness: 100%; /* Between 0 and 100% */
	--modular-transparency: 15%; /* Between 0 and 50% */
	--sidebar-orientation: column; /* column-reverse for user panel on top */
	--guild-orientation: row; /* row-reverse for guild bar on the right */
	--client-orientation: row; /* row-reverse for server list and user panel on the right */
	--memberlist-orientation: row; /* row-reverse for member list on the left */
	--friendlist-orientation: row; /* row-reverse for now playing tab on the left */
	--titlebar-name: "Modular - insert your name here or whatever quote you like I don't care";
}
