/* Import Catppuchin Colors and Nitro Gradients */
@import url(https://seele1306.github.io/Modular/CatppuchinColors.css);
@import url(https://seele1306.github.io/Modular/NitroGradients.css);

 /* --- CUSTOMIZABLE --- */
 :root, .theme-dark, .theme-light {

  /* Change to none to use solid color theme 
   * or use one of the premade Nitro gradients
   * or make your own gradient or even add a background */
  --modular-background: var(--sunset) !important;

  /* Overall accent */
  /* note: 223 7% 17% for Discord Default Grey */
  --modular-hue: 240;   
  --modular-saturation: 30%;    
  --modular-luminosity: 15%;

  --modular-shadow-distance: 5px; /* in px */
  --modular-stroke-distance: 1px; /* in px */

  /* Border radius */
  --modular-border-radius: 8px;
  --modular-client-spacing: 8px;
  --modular-client-radius:  4px;

  /* Font change */
  --font-main: "" ;
  --font-code: Iosevka, monospace, Consolas;

  /* Quotes */
  --quote-vertical-spacing: 4px;
  --quote-horizontal-spacing: 10px;
  --quote-background-color: #a6da9525;
  --quote-text-color: #a6da95;
  --quote-border-radius: 6px;

  /* Menu UI Blur */
  --modular-background-blur-strength: 10px;

  /* PUT IN IMPORT FILE */
  --primary-100-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 96.00%);
  --primary-130-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 84.00%);
  --primary-160-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 72.00%);
  --primary-200-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 60.00%);
  --primary-230-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 52.00%);
  --primary-260-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 44.00%);   
  --primary-300-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 36.00%);      
  --primary-330-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 28.00%);
  --primary-345-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 24.00%);
  --primary-360-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 20.00%);
  --primary-400-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 16.00%);
  --primary-430-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 12.00%);
  --primary-460-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 10.00%);
  --primary-500-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 8.00%);
  --primary-530-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 6.00%);
  --primary-560-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 4.00%);
  --primary-600-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) + 0.00%);
  --primary-630-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 2.00%);
  --primary-645-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 4.00%);
  --primary-660-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 6.00%);
  --primary-700-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 8.00%);
  --primary-730-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 10.00%);
  --primary-760-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 12.00%);
  --primary-800-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 16.00%);
  --primary-830-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 20.00%);
  --primary-860-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 24.00%);
  --primary-900-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-luminosity) - 28.00%);

  --brand-100-hsl: hsl(var(--primary-100-hsl)/1);
  --brand-130-hsl: hsl(var(--primary-130-hsl)/1);
  --brand-160-hsl: hsl(var(--primary-160-hsl)/1);
  --brand-200-hsl: hsl(var(--primary-200-hsl)/1);
  --brand-230-hsl: hsl(var(--primary-230-hsl)/1);
  --brand-260-hsl: hsl(var(--primary-260-hsl)/1);   
  --brand-300-hsl: hsl(var(--primary-300-hsl)/1);      
  --brand-330-hsl: hsl(var(--primary-330-hsl)/1);
  --brand-345-hsl: hsl(var(--primary-345-hsl)/1);
  --brand-360-hsl: hsl(var(--primary-360-hsl)/1);
  --brand-400-hsl: hsl(var(--primary-400-hsl)/1);
  --brand-430-hsl: hsl(var(--primary-430-hsl)/1);
  --brand-460-hsl: hsl(var(--primary-460-hsl)/1);
  --brand-500-hsl: hsl(var(--primary-500-hsl)/1);
  --brand-530-hsl: hsl(var(--primary-530-hsl)/1);
  --brand-560-hsl: hsl(var(--primary-560-hsl)/1);
  --brand-600-hsl: hsl(var(--primary-600-hsl)/1);
  --brand-630-hsl: hsl(var(--primary-630-hsl)/1);
  --brand-645-hsl: hsl(var(--primary-645-hsl)/1);
  --brand-660-hsl: hsl(var(--primary-660-hsl)/1);
  --brand-700-hsl: hsl(var(--primary-700-hsl)/1);
  --brand-730-hsl: hsl(var(--primary-730-hsl)/1);
  --brand-760-hsl: hsl(var(--primary-760-hsl)/1);
  --brand-800-hsl: hsl(var(--primary-800-hsl)/1);
  --brand-830-hsl: hsl(var(--primary-830-hsl)/1);
  --brand-860-hsl: hsl(var(--primary-860-hsl)/1);
  --brand-900-hsl: hsl(var(--primary-900-hsl)/1);

  --brand-experiment-100: var(--brand-100-hsl);
  --brand-experiment-130: var(--brand-130-hsl);
  --brand-experiment-160: var(--brand-160-hsl);
  --brand-experiment-200: var(--brand-200-hsl);
  --brand-experiment-230: var(--brand-230-hsl);
  --brand-experiment-260: var(--brand-260-hsl);
  --brand-experiment-300: var(--brand-300-hsl);
  --brand-experiment-330: var(--brand-330-hsl);
  --brand-experiment-345: var(--brand-345-hsl);
  --brand-experiment-360: var(--brand-360-hsl);
  --brand-experiment-400: var(--brand-400-hsl);
  --brand-experiment-430: var(--brand-430-hsl);
  --brand-experiment-460: var(--brand-460-hsl);
  --brand-experiment-500: var(--brand-500-hsl);
  --brand-experiment-530: var(--brand-530-hsl);
  --brand-experiment-560: var(--brand-560-hsl);
  --brand-experiment-600: var(--brand-600-hsl);
  --brand-experiment-630: var(--brand-630-hsl);
  --brand-experiment-645: var(--brand-645-hsl);
  --brand-experiment-660: var(--brand-660-hsl);
  --brand-experiment-700: var(--brand-700-hsl);
  --brand-experiment-730: var(--brand-730-hsl);
  --brand-experiment-760: var(--brand-760-hsl);
  --brand-experiment-800: var(--brand-800-hsl);
  --brand-experiment-830: var(--brand-830-hsl);
  --brand-experiment-860: var(--brand-860-hsl);
  --brand-experiment-900: var(--brand-900-hsl);

  --text-positive:                          hsl(var(--green)/1);
  --text-warning:                           hsl(var(--yellow)/1);
  --text-danger:                            hsl(var(--red)/1);
  --guild-boosting-pink:                    hsl(var(--pink)/1);
  --status-danger:                          hsl(var(--red)/1);
  --info-positive-foreground:               hsl(var(--primary-200-hsl)/1);
  --status-positive-background:             hsl(var(--primary-200-hsl)/1);
  --status-positive-text:                   hsl(var(--primary-600-hsl)/1);
  --channels-default:                       hsl(var(--primary-200-hsl)/0.6);
  --mention-background:                     hsl(var(--primary-300-hsl)/0.25);
  --mention-foreground:                     hsl(var(--primary-200-hsl)/0.75);
  --channel-text-area-placeholder:          hsl(var(--primary-200-hsl)/0.5);
  --channeltextarea-background:             hsl(var(--primary-600-hsl)/1);
  --background-primary:                     hsl(var(--primary-600-hsl)/1);
  --background-secondary:                   hsl(var(--primary-600-hsl)/1);
  --background-secondary-alt:               hsl(var(--primary-600-hsl)/1);
  --background-tertiary:                    hsl(var(--primary-560-hsl)/1);
  --background-floating:                    hsl(var(--primary-530-hsl)/1);
  --button-positive-background:             hsl(var(--primary-500-hsl)/1);
  --button-positive-background-disabled:    hsl(var(--primary-530-hsl)/1);
  --button-positive-background-hover:       hsl(var(--primary-400-hsl)/1);
  --button-positive-background-active:      hsl(var(--primary-300-hsl)/1);
  --button-positive-background-muted:       hsl(var(--primary-600-hsl)/1);
  --button-secondary-background-hover:      hsl(var(--primary-400-hsl)/1);
  --channel-icon:                           hsl(var(--primary-400-hsl)/1);
  --interactive-muted:                      hsl(var(--primary-230-hsl)/1);
  --background-message-hover:               none;
  --background-mentioned:                   none;
  --background-mentioned-hover:             none;
  --background-message-highlight:           none;
  --info-warning-foreground:                none;
  --scrollbar-auto-thumb:                   hsl(var(--primary-200-hsl)/1);
  --scrollbar-thin-thumb:                   none;
  --scrollbar-auto-track:                   hsl(var(--primary-400-hsl)/0.25);
  --scrollbar-thin-track:                   none;
  --profile-body-background-color:          none !important;
  --profile-role-pill-background-color:     none;

  --modular-shadow: var(--modular-shadow-distance) var(--modular-shadow-distance) 0 0 hsl(var(--primary-700-hsl)/0.25), 0 0 var(--modular-stroke-distance) var(--modular-stroke-distance) hsl(var(--primary-700-hsl)/0.5);
  --font-primary: var(--font-main), var(--font-fallback);
  --font-display: var(--font-main), var(--font-fallback); 
  --font-header:  var(--font-main), var(--font-fallback);
  --font-fallback: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.theme-dark {
  --header-primary:                   hsl(var(--primary-160-hsl)/1);
  --header-secondary:                 hsl(var(--primary-200-hsl)/1);
  --interactive-active:               hsl(var(--primary-160-hsl)/1);
  --interactive-normal:               hsl(var(--primary-160-hsl)/1);
  --text-link:                        hsl(var(--primary-200-hsl)/1);
  --text-normal:                      hsl(var(--primary-130-hsl)/1);
  --text-muted:                       hsl(var(--primary-200-hsl)/0.75);
  --interactive-hover:                hsl(var(--primary-130-hsl)/1);
  --background-modifier-accent:       hsl(var(--primary-300-hsl)/0.2);
  --background-modifier-selected:     hsl(var(--primary-300-hsl)/0.5);
  --background-modifier-hover:        hsl(var(--primary-300-hsl)/0.8);
}

.theme-light {
  --header-primary:                         hsl(var(--primary-700-hsl)/1);
  --header-secondary:                       hsl(var(--primary-600-hsl)/0.75);
  --interactive-active:                     hsl(var(--primary-500-hsl)/1);
  --text-link:                              hsl(var(--primary-500-hsl)/1);
  --interactive-normal:                     hsl(var(--primary-330-hsl)/1);
  --text-normal:                            hsl(var(--primary-700-hsl)/1);
  --interactive-hover:                      hsl(var(--primary-600-hsl)/1);
  --text-muted:                             hsl(var(--primary-600-hsl)/0.6);
}

 