/* QUOTES */
[class*="markup-"] blockquote {
	padding: var(--quote-vertical-spacing) var(--quote-horizontal-spacing);
	background-color: #a6da9525;
	border-top-right-radius: var(--quote-border-radius);
	border-bottom-right-radius: var(--quote-border-radius)
}
.theme-dark[class*="markup-"] blockquote {
	color: hsl(#a6da95);
	background-color: #a6da95
}
.theme-light[class*="markup-"] blockquote {
	color: #a6da95
}
[class*="blockquoteDivider-"] {
	background-color: #a6da95
}